<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="text-center">Edit Homework</h1>
                <form action="/homework/<%=homework._id%>?_method=PUT" method="POST" novalidate
                    class="validated-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="subjectLine">Subject Line</label>
                                        <input class="form-control" type="text" placeholder="Subject Line" value="<%=homework.subjectLine%>"
                                            id="subjectLine" name="homework[subjectLine]" required autofocus>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="url">Related Link</label>
                                        <input class="form-control" type="text"
                                            placeholder="https://www.youtube.com/... (opt)" value="<%=homework.url%>" id="url"
                                            name="homework[url]">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="stuId">Assigned to Student</label>
                                        <select class="form-select" id="stuId"
                                            name="homework[stuId]" required>
                                            <option value="<%=homework.stuId%>" selected><%=homework.assignedStudent%></option>
                                            <% for(let student of students) { %>
                                                <option value="<%=student._id%>">
                                                    <%=student.firstName%>
                                                        <%=student.lastName%>
                                                </option>
                                                <% } %>
                                        </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" for="category">Category</label>
                                    <select class="form-select" id="category" name="homework[category]" required>
                                        <option selected><%=homework.category%></option>
                                        <option value="Reading">Reading</option>
                                        <option value="Writing">Writing</option>
                                        <option value="Math">Math</option>
                                        <option value="Science">Science</option>
                                        <option value="Social Studies">Social Studies</option>
                                        <option value="Physical Ed.">Physical Ed.</option>
                                        <option value="Art">Art</option>
                                        <option value="Music">Music</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" for="dueDate">Due Date</label>
                                    <!-- https://stackoverflow.com/questions/25159330/convert-an-iso-date-to-the-date-format-yyyy-mm-dd-in-javascript -->
                                    <input class="form-control" type="date" id="dueDate" name="homework[dueDate]"
                                    value="<%=homework.dueDate.toISOString().substring(0, 10)%>" value="<%=homework.dueDate%>" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label class="form-label" for="pointsPossible">Coins Possible</label>
                                    <input class="form-control" type="number" id="pointsPossible"
                                        name="homework[pointsPossible]" placeholder="20" value="<%=homework.pointsPossible%>" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="description">Description</label>
                                    <textarea class="form-control rounded-0" id="description"
                                        name="homework[description]" rows="7"
                                        placeholder="For this assignment, you must ..." required><%=homework.description%> </textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 mt-3 d-grid">
                                    <button class="btn btn-success">Update Homework</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <a href="/homework/<%=homework._id%>">Back to homework</a>
            </div>
        </div>
    </div>