<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 mt-2">
                        <a href="/homework/" class="btn btn-dark font-weight-bold mb-1"><i class="fas fa-chevron-left"></i></a>
                    </div>
                    <h1 class="col-8 text-center mt-4">Homework Details</h1>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <dl class="row">
                            <dt class="col-sm-4">Subject Line:</dt>
                            <dd class="col-sm-8">
                                <%=homework.subjectLine%>
                            </dd>
                            <dt class="col-sm-4">Related Link:</dt>
                            <dd class="col-sm-8">
                                <%=homework.url%>
                            </dd>
                            <dt class="col-sm-4">Assigned to Student:</dt>
                            <dd class="col-sm-8">
                                <%=homework.stuId%>
                            </dd>
                            <dt class="col-sm-4">Category:</dt>
                            <dd class="col-sm-8">
                                <%=homework.category%>
                            </dd>
                            <dt class="col-sm-4">Due Date:</dt>
                            <dd class="col-sm-8">
                                <%=homework.dueDate.toISOString().substring(0, 10)%>
                            </dd>
                            <dt class="col-sm-4">Coins Possible:</dt>
                            <dd class="col-sm-8">
                                <%=homework.pointsPossible%>
                            </dd>
                            <dt class="col-sm-4">Description:</dt>
                            <dd class="col-sm-8">
                                <%=homework.description%>
                            </dd>
                        </dl>
                    </div>
                </div>
                <a href="/homework/<%=homework._id%>/edit" class="card-link btn btn-info">Edit</a>
                <form class="d-inline" action="/homework/<%=homework._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger"
                        onclick="return confirm('Are you sure you want to permanently delete this homework?')">Delete</button>
                </form>
            </div>