<% layout('layouts/teacher-boilerplate') %>
<h1 class="text-center">Homework Details</h1>
<div class="row mt-5">
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-body">
                <p class="card-text"><Strong>Subject Line:</Strong></p>
                <p class="card-text"><%=homework.subjectLine%></p>
                <p class="card-text"><strong>Related Link:</strong></p>
                <a href="<%=homework.url%>" target="_blank"><%=homework.url%></a>
                <p class="card-text"><strong>Assigned To Student:</strong></p>
                <p class="card-text"><%=homework.assignedStudent%></p>
                <p class="card-text"><strong>Category: </strong></p>
                <p class="card-text"><%=homework.category%></p>
                <p class="card-text"><strong>Due Date: </strong></p>
                <p class="card-text"><%= homework.dueDate.toISOString().substring(0, 10) %></p>
                <p class="card-text"><strong>Points Possible: </strong></p>
                <p class="card-text"><%=homework.pointsPossible%></p>
                <p class="card-text"><strong>Description: </strong></p>
                <p class="card-text"><%=homework.description%></p>
            </div>
                <div class="card-body">
                    <a href="/homework/<%=homework._id%>/edit" class="card-link btn btn-info">Edit</a>
                    <form class="d-inline" action="/homework/<%=homework._id%>?_method=DELETE" method="POST">
                        <button class= "btn btn-danger" onclick="return confirm('Are you sure you want to permanently delete this homework?')">Delete</button>
                    </form>
                </div>
            <div class="card-footer text-muted">
                <a href="/homework">Back to All homework</a>
            </div>
        </div>
    </div>
    <div class="col-6"> 