<% layout('layouts/student-boilerplate') %>
<h1>Student portal</h1>
<div class="row mt-5">
    <div class="col-6">
        <div class="card mb-5">
            <div class="card-body">
                <h5 class="card-title"><%=student.firstName%> <%=student.lastName%></h5>
                <p class="card-text">Date of Birth: <%=student.dateOfBirth%></p>
                <p class="card-text">School Year: <%=student.schoolYear%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Primary: <%=student.primaryContactFirst%> <%=student.primaryContactLast%></li>
                <li class="list-group-item">Primary: <%=student.primaryContactRelationship%></li>
                <li class="list-group-item">Primary: <%=student.primaryContactPhone%></li>
                <li class="list-group-item">Primary: <%=student.primaryContactEmail%></li>
                <li class="list-group-item text-muted">Secondary: <%=student.secondaryContactFirst%> <%=student.secondaryContactLast%></li>
                <li class="list-group-item text-muted">Secondary: <%=student.secondaryContactRelationship%></li>
                <li class="list-group-item text-muted">Secondary: <%=student.secondaryContactPhone%></li>
                <li class="list-group-item text-muted">Secondary: <%=student.secondaryContactEmail%></li>
                <li class="list-group-item">Address Line 1: <%=student.addressLine1%></li>
                <li class="list-group-item">Address Line 2: <%=student.addressLine2%></li>
                <li class="list-group-item">City: <%=student.city%></li>
                <li class="list-group-item">State: <%=student.stateCode%></li>
                <li class="list-group-item">ZipCode First 5:<%=student.zipCodeBase%></li>
                <li class="list-group-item">ZipCode Last 4:<%=student.zipCodeExtension%></li>
            </ul>
        </div>
    </div>
</div>