<% layout('layouts/teacher-boilerplate') %>
    <h1 class="text-center">All Students</h1>
    <div>
        <a href="/students/new" class="btn  btn-primary ">Add New Student</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">_id</th>
                <th scope="col">StuFirst</th>
                <th scope="col">StuLast</th>
                <th scope="col">StuGender</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <% for (let student of students) { %>
            <tr>
                <td scope="row"><%=student._id%></td>
                <td><%=student.firstName%></td>
                <td><%=student.lastName%></td>
                <td><%=student.gender%></td>
                <td><%=student.city%></td>
                <td><%=student.stateCode%></td>
                <td><a class="btn btn-primary" href="/students/<%=student._id%>">Details <%=student.title%></a></td>
            </tr>
            <% } %>
        </tbody>
    </table>