<% layout('layouts/teacher-boilerplate') %>
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 mt-2">
                        <a href="/students/" class="btn btn-dark font-weight-bold mb-1">&lt;-</a>
                    </div>
                    <h1 class="col-8 text-center mt-4">New Student</h1>
                    <div class="col-2"></div>
                </div>
                
                <form action="/students" method="POST" novalidate class="validated-form">
                    <!--Each section must have a div row-->
                    <div class="row">
                        <h2 class="mt-4 form-subtitle">Personal Info</h2>
                        <hr>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="firstName">First Name</label>
                            <input class="form-control" type="text" placeholder="First" id="firstName"
                                name="student[firstName]" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="lastName">Last Name</label>
                            <input class="form-control" type="text" placeholder="Last" id="lastName"
                                name="student[lastName]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="prefName">Preferred Name</label>
                            <input class="form-control" type="text" placeholder="Preferred (opt)" id="prefName"
                                name="student[prefName]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="dateOfBirth">Birth Date:</label>
                            <input class="form-control" type="date" id="dateOfBirth" name="student[dateOfBirth]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="gender">Gender</label>
                            <select class="form-select" aria-label="Default select example" id="gender"
                                name="student[gender]" required>
                                <option selected></option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Unknown">Unknown</option>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="schoolYear">Year in School</label>
                                <input class="form-control" type="number" placeholder="Year (opt)" id="schoolYear"
                                    name="student[schoolYear]">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-6">
                            <label class="form-label" for="addressLine1">Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Main St." id="addressLine1"
                                name="student[addressLine1]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-6">
                            <label class="form-label" for="addressLine2">Address Line 2</label>
                            <input class="form-control" type="text" placeholder="Apartment (opt)" id="addressLine2"
                                name="student[addressLine2]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="city">City</label>
                            <input class="form-control" type="text" placeholder="City" id="city" name="student[city]"
                                required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="stateCode">State Code</label>
                            <select class="form-select" id="stateCode"
                                name="student[stateCode]">
                                <option selected></option>
                                <% for(let state of stateList) { %>
                                    <option value="<%=state%>">
                                        <%=state%>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="zipCodeBase">Zip Code</label>
                            <input class="form-control" type="text" placeholder="84999" id="zipCodeBase"
                                name="student[zipCodeBase]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="zipCodeExtension">Zip Code Ext.</label>
                            <input class="form-control" type="text" placeholder="1234 (opt)" id="zipCodeExtension"
                                name="student[zipCodeExtension]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="notes">Special Notes</label>
                            <textarea class="form-control" type="text" rows="4"
                                placeholder="Allergies, medications, disabilities, court orders, etc. (opt)" id="notes"
                                name="student[notes]"></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="mt-4 form-subtitle">Student Portal Info</h2>
                        <hr>
                        <div class="col-4"></div> <!--Used for centering Coins Balance-->
                        <div class="mb-3 col-sm-4 text-center">
                            <label class="form-label" for="coinsBalance">Reward Coins Balance</label>
                            <input class="form-control" type="number" placeholder="(ex.) 100" id="coinsBalance"
                                name="student[coinsBalance]" value="0">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-4"></div> <!--Used for centering Coins Balance-->
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="url1Label">Label for Link 1</label>
                            <input class="form-control" type="text" placeholder="Language Arts" id="url1Label"
                                name="student[url1Label]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-9">
                            <label class="form-label" for="url1">Link 1</label>
                            <input class="form-control" type="text" placeholder="https://www.freckle.com/" id="url1"
                                name="student[url1]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="url2Label">Label for Link 2</label>
                            <input class="form-control" type="text" placeholder="Math" id="url2Label"
                                name="student[url2Label]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-9">
                            <label class="form-label" for="url2">Link 2</label>
                            <input class="form-control" type="text" placeholder="https://www.khanacademy.org/" id="url2"
                                name="student[url2]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="url3Label">Label for Link 3</label>
                            <input class="form-control" type="text" placeholder="Spanish" id="url3Label"
                                name="student[url3Label]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-9">
                            <label class="form-label" for="url3">Link 3</label>
                            <input class="form-control" type="text" placeholder="https://www.duolingo.com/" id="url3"
                                name="student[url3]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-3">
                            <label class="form-label" for="url4Label">Label for Link 4</label>
                            <input class="form-control" type="text" placeholder="Coding" id="url4Label"
                                name="student[url4Label]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-9">
                            <label class="form-label" for="url4">Link 4</label>
                            <input class="form-control" type="text" placeholder="https://www.codecademy.com/" id="url4"
                                name="student[url4]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="mt-4 form-subtitle">Emergency Contacts</h2>
                        <hr>
                        <h4>Primary</h4>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="primaryContactFirst">First Name</label>
                            <input class="form-control" type="text" placeholder="First" id="primaryContactFirst"
                                name="student[primaryContactFirst]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="primaryContactLast">Last Name</label>
                            <input class="form-control" type="text" placeholder="Last" id="primaryContactLast"
                                name="student[primaryContactLast]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="primaryContactPhone">Phone</label>
                            <input class="form-control" type="text" placeholder="8011234567" id="primaryContactPhone"
                                name="student[primaryContactPhone]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="primaryContactEmail">Email</label>
                            <input class="form-control" type="text" placeholder="primaryContact@gmail.com"
                                id="primaryContactEmail" name="student[primaryContactEmail]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="primaryContactRelationship">Relationship to
                                Student</label>
                            <select class="form-select" id="primaryContactRelationship"
                                name="student[primaryContactRelationship]" required>
                                <option selected></option>
                                <% for(let relationshipType of relationshipTypes) { %>
                                    <option value="<%=relationshipType%>">
                                        <%=relationshipType%>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Secondary</h4>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="secondaryContactFirst">First Name</label>
                            <input class="form-control" type="text" placeholder="First (opt)" id="secondaryContactFirst"
                                name="student[secondaryContactFirst]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label class="form-label" for="secondaryContactLast">Last Name</label>
                            <input class="form-control" type="text" placeholder="Last (opt)" id="secondaryContactLast"
                                name="student[secondaryContactLast]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="secondaryContactPhone">Phone</label>
                            <input class="form-control" type="text" placeholder="8011234567 (opt)"
                                id="secondaryContactPhone" name="student[secondaryContactPhone]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="secondaryContactEmail">Email</label>
                            <input class="form-control" type="text" placeholder="secondaryContact@gmail.com (opt)"
                                id="secondaryContactEmail" name="student[secondaryContactEmail]">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3 col-sm-6 col-md-4">
                            <label class="form-label" for="secondaryContactRelationship">Relationship to
                                Student</label>
                            <select class="form-select" id="secondaryContactRelationship"
                                name="student[secondaryContactRelationship]">
                                <option selected></option>
                                <% for(let relationshipType of relationshipTypes) { %>
                                    <option value="<%=relationshipType%>">
                                        <%=relationshipType%>
                                    </option>
                                    <% } %>
                            </select>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3 mt-5 d-grid">
                        <button class="btn btn-success">Add Student</button>
                    </div>
                </form>
                <a href="/students" class="mb-3 btn btn-danger d-grid">Cancel</a>
            </div>
        </div>
    </div>