<% layout('layouts/teacher-boilerplate') %>
    <!-- Profile -->
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <h1 class="text-center mt-4">
                    <%=student.firstName%>
                        <%=student.lastName%>'s Profile
                </h1>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Student Information -->
                        <h2 class="mt-4 form-subtitle">Personal Info</h2>
                        <hr>
                        <dl class="row">
                            <dt class="col-sm-4">First Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.firstName%>
                            </dd>
                            <dt class="col-sm-4">Last Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.lastName%>
                            </dd>
                            <dt class="col-sm-4">Preferred Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.prefName%>
                            </dd>
                            <dt class="col-sm-4">Birth Date:</dt>
                            <dd class="col-sm-8">
                                <%=student.dateOfBirth.toISOString().substring(0, 10)%>
                            </dd>
                            <dt class="col-sm-4">Gender:</dt>
                            <dd class="col-sm-8">
                                <%=student.gender%>
                            </dd>
                            <dt class="col-sm-4">School Year:</dt>
                            <dd class="col-sm-8">
                                <%=student.schoolYear%>
                            </dd>
                            <dt class="col-sm-4">Address Line 1:</dt>
                            <dd class="col-sm-8">
                                <%=student.addressLine1%>
                            </dd>
                            <dt class="col-sm-4">Address Line 2:</dt>
                            <dd class="col-sm-8">
                                <%=student.addressLine2%>
                            </dd>
                            <dt class="col-sm-4">City:</dt>
                            <dd class="col-sm-8">
                                <%=student.city%>
                            </dd>
                            <dt class="col-sm-4">State:</dt>
                            <dd class="col-sm-8">
                                <%=student.stateCode%>
                            </dd>
                            <dt class="col-sm-4">Zip Code:</dt>
                            <dd class="col-sm-8">
                                <%=student.zipCodeBase%>
                                    <!-- show or hide a dash depending if extension is present -->
                                    <% if(student.zipCodeExtension) { %>
                                        <span>-</span>
                                        <% } %>
                                            <%=student.zipCodeExtension%>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <!-- Student Portal Info -->
                        <h2 class="mt-4 form-subtitle">Student Portal Info</h2>
                        <hr>
                        <dl class="row">
                            <dt class="col-sm-4">Rewards Coin Balance:</dt>
                            <dd class="col-sm-8">
                                <%=student.coinsBalance%>
                            </dd>
                        </dl>
                        <a href="<%=student.url1%>" target="_blank" class="btn btn-success">
                            <%=student.url1Label%>
                        </a>
                        <a href="<%=student.url2%>" target="_blank" class="btn btn-warning">
                            <%=student.url2Label%>
                        </a>
                        <a href="<%=student.url3%>" target="_blank" class="btn btn-info">
                            <%=student.url3Label%>
                        </a>
                        <a href="<%=student.url4%>" target="_blank" class="btn btn-danger">
                            <%=student.url4Label%>
                        </a>
                    </div>
                    <!-- Emergency Contacts -->
                    <h2 class="mt-4 form-subtitle">Emergency Contacts</h2>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h4>Primary</h4>
                            <dt class="col-sm-4">First Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.primaryContactFirst%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Last Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.primaryContactLast%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Phone:</dt>
                            <dd class="col-sm-8">
                                <%=student.primaryContactPhone%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Email:</dt>
                            <dd class="col-sm-8">
                                <%=student.primaryContactEmail%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Relationship to Student:</dt>
                            <dd class="col-sm-8">
                                <%=student.primaryContactRelationship%>
                            </dd>
                            </dl>
                        </div>
                        <div class="col-6">
                            <h4>Secondary</h4>
                            <dt class="col-sm-4">First Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.secondaryContactFirst%>
                            </dd>
                            <dt class="col-sm-4">Last Name:</dt>
                            <dd class="col-sm-8">
                                <%=student.secondaryContactLast%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Phone:</dt>
                            <dd class="col-sm-8">
                                <%=student.secondaryContactPhone%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Email:</dt>
                            <dd class="col-sm-8">
                                <%=student.secondaryContactEmail%>
                            </dd>
                            </dl>
                            <dt class="col-sm-4">Relationship to Student:</dt>
                            <dd class="col-sm-8">
                                <%=student.secondaryContactRelationship%>
                            </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/students/<%=student._id%>/edit" class="mb-3 mt-5 btn btn-info d-grid">Edit</a>
            <form class="col-12 mb-3 d-grid" action="/students/<%=student._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to permanently delete this student?')">Delete</button>
            </form>
        </div>
    </div>
    <!-- Notes -->
    <div class="row">
        <div class="card shadow mb-5">
            <div class="card-body">
                <h2>Notes</h2>
                <form action="/students/<%=student._id%>/note" class="mb-3 validated-form" method="POST" novalidate>
                    <div class="row">
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label" for="noteTitle">Title</label>
                                <input class="form-control" type="text" id="noteTitle" placeholder="1:1 Weekly Session"
                                    name="note[noteTitle]" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label" for="noteCategory">Category</label>
                                <input class="form-control" type="text" id="noteCategory" placeholder="Fractions"
                                    name="note[noteCategory]" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label" for="noteDate">Date:</label>
                                <input class="form-control" type="date" id="noteDate" name="note[noteDate]" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="noteComment">Comments</label>
                            <textarea class="form-control" name="note[noteComment]" id="noteComment" cols="30" rows="3"
                                placeholder="This week we worked on... we struggled with... assigned more practice homework for..."></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success">Add Notes</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Past Notes -->
    <!-- Sorts by noteDate newest first -->
    <% const sortedNotes = student.note.sort((a, b) => b.noteDate - a.noteDate) %> 
    <% for(let note of sortedNotes) { %>
        <div class="row">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <h5 class="card-title mb-2">
                        <%=note.noteTitle%>
                        <% if(!note.noteTitle) { %>
                            Untitled
                            <% } %> 
                    </h5>
                    <span class="badge rounded-pill bg-secondary">
                        <%=note.noteDate.toISOString().substring(0, 10)%>
                    </span>
                    <span class="badge rounded-pill bg-info">
                        <%= note.noteCategory%>
                    </span>
                    <p class="card-text mt-3">
                        <%=note.noteComment%>
                    </p>
                    <form action="/students/<%=student._id%>/note/<%=note._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger mt-3"
                            onclick="return confirm('Are you sure you want to permanently delete this item?')">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <% } %>